{% extends 'base.html.twig' %}

{% set title = 'player_profile.title'|trans %}

{% block body %}
    <div class="player-profile">
        {% if not account %}
            <div class="alert alert-danger">
                {{ 'player_profile.not_found'|trans }}
            </div>
        {% endif %}

        {% if account %}
            <p>{{ 'player_profile.name'|trans }}: {{ account.name }}</p>
            <p>{{ 'player_profile.level'|trans }}: {{ account.level }}</p>
            <p>{{ 'player_profile.rank'|trans }}: {{ rank_name(account.rank) }}</p>
            {% if account.rank %}
                <p>{{ 'player_profile.mmr'|trans }}: {{ account.mmr }}</p>
                <p>{{ 'player_profile.win_loss'|trans }}: {{ account.wins }} - {{ account.losses }}</p>
                <p>{{ 'player_profile.ratio'|trans }}: {{ account.ratio }}%</p>
            {% endif %}
            <p>
                {{ 'player_profile.status'|trans }}:&nbsp;
                {% set status = status_name(account.status) %}
                {% if account.status == 3 %}
                    <a href="{{ path('match_live', { 'playerId': account.id }) }}">{{ status }}</a>
                {% else %}
                    <span class="{% if account.status %}text-success{% else %}text-danger{% endif %}">
                        {{ status }}
                    </span>
                {% endif %}
            </p>
        {% endif %}
    </div>
{% endblock %}
