{% extends 'base.html.twig' %}

{% block body %}
    <div class="search-player">
        {{ form_start(form, { 'action': path('player_search'), 'method': 'POST' }) }}
            <div class="mb-3">
                {{ form_label(form.playerName) }}
                {{ form_widget(form.playerName) }}
            </div>
            <button type="submit" class="btn btn-primary">{{ 'player_search.search'|trans }}</button>
        {{ form_end(form) }}

        {% if players %}
            <div class="multiple-players">
                <p class="multiple-players-title">{{ 'search_players.multiple_players_found'|trans }}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>{{ 'search_players.name' }}</th>
                        <th>{{ 'search_players.hirez_name' }}</th>
                        <th>{{ 'search_players.platform' }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in players %}
                        <tr>
                            <td><a href="{{ path('match_live', {'playerId': player.id}) }}">{{ player.name }}</a></td>
                            <td>{{ player.hirezName }}</td>
                            <td>{{ player.portal.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
