{% extends 'base.html.twig' %}

{% block body %}
    <div class="account-search">
        {{ form_start(form, { 'action': path('account_search'), 'method': 'POST' }) }}
            <div class="mb-3">
                {{ form_label(form.accountName) }}
                {{ form_widget(form.accountName) }}
            </div>
            <button type="submit" class="btn btn-primary">{{ 'account_search.search'|trans }}</button>
        {{ form_end(form) }}

        {% if accounts is null and recentSearches is not empty %}
            <div class="extra-info recent-searches">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'account_search.recent_searches'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recentSearch in recentSearches %}
                        <tr><td><a href="{{ path('account_search', {'accountName': recentSearch}) }}">{{ recentSearch }}</a></td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if accounts is not null %}
            <div class="extra-info">
                {% if not accounts %}
                    <div class="alert alert-danger">
                        {{ 'account_search.no_accounts_found'|trans }}
                    </div>
                {% endif %}

                {% if accounts %}
                    <div class="alert alert-info">
                        {{ 'account_search.multiple_accounts_found'|trans }}
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>{{ 'account_search.name'|trans }}</th>
                            <th>{{ 'account_search.hirez_name'|trans }}</th>
                            <th>{{ 'account_search.platform'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for account in accounts %}
                            <tr>
                                <td><a href="{{ path('match_live', {'playerId': account.id}) }}">{{ account.name }}</a></td>
                                <td>{{ account.hirezName }}</td>
                                <td>{{ portal_name(account.portal) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
