<h3>{{ mode_name(match.mode) }}</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>{{ 'match_details.ranked'|trans }}</th>
        <th>{{ 'match_details.god'|trans }}</th>
        <th>{{ 'match_details.name'|trans }}</th>
        <th>{{ 'match_details.account'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, team in match.teams %}
        {% set mmr = 0 %}
        {% set classes = [] %}

        {% if not loop.first %}
            <tr><td colspan="4" /></tr>
        {% endif %}

        {% for player in team %}
            {% set classes = [] %}

            {% if match.winner is null %}
                {% if id is odd %}
                    {% set classes = classes|merge(["table-primary"]) %}
                {% else %}
                    {% set classes = classes|merge(["table-danger"]) %}
                {% endif %}
            {% endif %}

            {% if match.winner is not null %}
                {% if id == match.winner %}
                    {% set classes = classes|merge(["table-success"]) %}
                {% else %}
                    {% set classes = classes|merge(["table-danger"]) %}
                {% endif %}
            {% endif %}

            {% if currentPlayer is defined and player.id == currentPlayer %}
                {% set classes = classes|merge(["table-bold"]) %}
            {% endif %}

            <tr class="{{ classes|join(' ') }}">
                <td>
                    {{ 'match_details.rank'|trans }}: {{ rank_name(player.stats.tier) }}
                    {% if player.stats.tier %}
                        {% set mmr = mmr + player.stats.mmr %}
                        <br>{{ 'match_details.mmr'|trans }}: {{ player.stats.mmr }}
                        <br>{{ 'match_details.win_loss'|trans }}: {{ player.stats.wins }} - {{ player.stats.losses }} ({{ player.stats.ratio }}%)
                    {% endif %}
                </td>
                <td>
                    <div class="god">
                        {% set icon = god_icon(player.god.id) %}
                        {% if icon %}
                            <img src="{{ icon }}" class="god-icon" />
                        {% endif %}

                        <div>
                            {{ player.god.name }}
                            {% if player.godLevel %}
                                <br>{{ player.godLevel }} &#9733;
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td>
                    {% if player.id %}
                        <a href="{{ path('player_profile', { 'playerId': player.id }) }}">{{ player.name }}</a>
                    {% else %}
                        <span class="text-warning">{{ 'match_details.hidden'|trans }}</span>
                    {% endif %}
                </td>
                <td>
                    {{ 'match_details.level'|trans }}: {{ player.level }}
                    <br>{{ 'match_details.mastery_level'|trans }}: {{ player.masteryLevel }}
                    {% if player.createdAt %}
                        <br>{{ 'match_details.created'|trans }}: {{ player.createdAt|date('d/m/Y') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        {% if mmr %}
            <tr class="{{ classes|join(' ') }} text-center">
                <td colspan="4">{{ 'match_details.average'|trans }}: {{ (mmr/(team|length))|round }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
