<h3>{{ mode_name(match.mode) }}</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>{{ 'match_details.god'|trans }}</th>
        <th>{{ 'match_details.name'|trans }}</th>
        <th>{{ 'match_details.level'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, team in match.teams %}
        {% if not loop.first %}
            <tr><td colspan="3" /></tr>
        {% endif %}
        {% for player in team %}
            {% if match.winner is not null %}
                {% if id == match.winner %}
                    {% set class = "table-success" %}
                {% else %}
                    {% set class = "table-danger" %}
                {% endif %}
            {% endif %}

            {% if currentPlayer is defined and player.id == currentPlayer %}
                {% set class = "table-bold" %}
            {% endif %}

            <tr {% if class %}class="{{ class }}"{% endif %}>
                <td>{{ player.god }}</td>
                <td><a href="{{ path('player_profile', { 'playerId': player.id }) }}">{{ player.name }}</a></td>
                <td>{{ player.level }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
