<h3>{{ mode_name(match.mode) }}</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>{{ 'match_details.ranked'|trans }}</th>
        <th>{{ 'match_details.god'|trans }}</th>
        <th>{{ 'match_details.name'|trans }}</th>
        <th>{{ 'match_details.account'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, team in match.teams %}
        {% if not loop.first %}
            <tr><td colspan="3" /></tr>
        {% endif %}
        {% for player in team %}
            {% set classes = [] %}

            {% if match.winner is null %}
                {% if id is odd %}
                    {% set classes = classes|merge(["table-primary"]) %}
                {% else %}
                    {% set classes = classes|merge(["table-danger"]) %}
                {% endif %}
            {% endif %}

            {% if match.winner is not null %}
                {% if id == match.winner %}
                    {% set classes = classes|merge(["table-success"]) %}
                {% else %}
                    {% set classes = classes|merge(["table-danger"]) %}
                {% endif %}
            {% endif %}

            {% if currentPlayer is defined and player.id == currentPlayer %}
                {% set classes = classes|merge(["table-bold"]) %}
            {% endif %}

            <tr class="{{ classes|join(' ') }}">
                <td>
                    {% if player.accountInfo %}
                        {{ 'match_details.rank'|trans }}: {{ rank_name(player.accountInfo.rank) }}
                        {% if player.accountInfo.rank %}
                            <br>{{ 'match_details.mmr'|trans }}: {{ player.accountInfo.mmr }}
                            <br>{{ 'match_details.win_loss'|trans }}: {{ player.accountInfo.wins }} - {{ player.accountInfo.losses }} ({{ player.accountInfo.ratio }}%)
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ player.god }}
                    {% if player.godLevel %}
                        <br>{{ player.godLevel }} &#9733;
                    {% endif %}
                </td>
                <td>
                    {% if player.id %}
                        <a href="{{ path('player_profile', { 'playerId': player.id }) }}">{{ player.name }}</a>
                    {% else %}
                        <span class="text-warning">{{ 'match_details.hidden'|trans }}</span>
                    {% endif %}
                </td>
                <td>
                    {{ 'match_details.level'|trans }}: {{ player.accountInfo.level }}
                    <br>{{ 'match_details.mastery_level'|trans }}: {{ player.accountInfo.masteryLevel }}
                    {% if player.accountInfo.createdAt %}
                        <br>{{ 'match_details.created'|trans }}: {{ player.accountInfo.createdAt|date('d/m/Y') }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
